.aiResponse {
  background: #ffffff;
  border-radius: 3px;
  padding: 2rem;
  border: 1px  #ffffff;
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.answer {
  line-height: 1.6;
  white-space: pre-wrap;
  color: #333;
  font-size: 1rem;
}

.answer strong {
  color: #474747;
}